@use '../abstracts' as *;

@import '/node_modules/highlight.js/styles/stackoverflow-light.css';

body {
    background-color: $color-light;

    @media (prefers-color-scheme: dark) {
        background-color: $color-dark;
    }
}

.hidden {
    display: none !important;
}
