@use '../abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,600;0,800;1,300&display=swap');

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

body {
    color: var(--contrast-active);
    font-family: Urbanista, system-ui, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    color: var(--color-active);
    font-size: 3.6rem;
    margin-bottom: map-get($sizes, 'lg');

    @include breakpoint-min('tab-land') {
        font-size: 4.8rem;
        margin-bottom: map-get($sizes, 'xl');
    }

    @at-root .bg-gradient & {
        color: $color-primary;
    }
}

h3 {
    font-size: 3.2rem;
    margin: map-get($sizes, 'sm') 0;

    @include breakpoint-min('tab-land') {
        font-size: 3.6rem;
        margin-bottom: map-get($sizes, 'lg');
    }
}

p {
    a {
        &:link,
        &:visited,
        &:hover,
        &:active {
            border-radius: 0.2rem;
            color: var(--color-active);
            font-weight: 800;
            padding: 0.2rem;
            text-decoration: none;
        }

        &:hover {
            background-color: rgba($color-primary, 0.25);
        }

        &:active {
            background-color: rgba($color-primary, 0.5);
        }
    }
}
