@use 'variables' as *;

@mixin breakpoint-min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

// Default paddings, responsive

@mixin padding-default {
    padding: map-get($sizes, 'lg') map-get($sizes, 'sm');

    @include breakpoint-min('tab-port') {
        padding: map-get($sizes, 'xl') map-get($sizes, 'lg');
    }
}

@mixin padding-default-x {
    padding: 0 map-get($sizes, 'sm');

    @include breakpoint-min('tab-port') {
        padding: 0 map-get($sizes, 'lg');
    }
}

// Default UI font style

@mixin ui-font-style {
    color: $color-dark;
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}
