@use '../abstracts/' as *;

.btn {
    border: 0;
    border-radius: 3rem;
    color: $color-dark;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 800;
    padding: map-get($sizes, 'sm') map-get($sizes, 'lg');
    text-transform: uppercase;
    transition: translateY 0.1s ease-in;

    &:hover {
        transform: translateY(-0.1rem);
    }

    &:active {
        transform: translateY(0);
    }

    &--primary {
        background-color: $color-primary;
        box-shadow: 0 0 0.5rem $color-primary-light;

        &:hover {
            background-color: $color-primary-dark;
            box-shadow: 0 0 0.5rem $color-primary;
        }
    }

    &--fullwidth {
        width: 100%;
    }
}
