@use '../abstracts' as *;

.whereiam {
    overflow: hidden;
    &__heading {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: map-get($sizes, 'lg');
        margin-bottom: map-get($sizes, 'lg');

        @include breakpoint-min('tab-land') {
            margin-bottom: map-get($sizes, 'xl');
        }

        h2 {
            margin-bottom: 0;
        }

        .btn {
            width: 100%;

            @include breakpoint-min('tab-land') {
                width: auto;
            }
        }
    }

    img {
        height: 50vh;
        width: calc(100% + map-get($sizes, 'lg'));
        object-fit: cover;
        object-position: 35%;
        transform: translateX(-#{map-get($sizes, 'sm')});

        @include breakpoint-min('tab-port') {
            width: calc(100% + map-get($sizes, 'xl'));
            transform: translateX(-#{map-get($sizes, 'lg')});
        }

        @include breakpoint-min('tab-land') {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        // width: 100%;
        // object-fit: cover;
        // object-position: right;
    }
}
